VITE_FIREBASE_API_KEY="AIzaSyCYu_e_JROw4g_Xgbk7sDZ8vJahWaeMdT0"
VITE_FIREBASE_AUTH_DOMAIN="sanity-track.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="sanity-track"
VITE_FIREBASE_STORAGE_BUCKET="sanity-track.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="157033633064"
VITE_FIREBASE_APP_ID="1:157033633064:web:9711aab2ba82224887ac1d"

# Conexión directa temporal para pruebas. Desactivar en producción.
VITE_MQTT_ENABLED=false
VITE_MQTT_BROKER_URL=wss://mqtt-dashboard.com:8884/mqtt
VITE_MQTT_TOPIC=espol/sanitytrack/bathroom1/data
